<h1>Sign Up</h1>
<%= simple_form_for @user do |f| %>
<%= f.input :email %>
<%= f.input :name %>
<%= f.input :password, label: "Password"%>
<%= f.input :password_confirmation, label: "Password Confirmation"%>
<%= f.button :submit, value: "Join" %>
<% end %>
