<h1>Secrets for Everyone</h1>
<% @users.each do |user| %>
  <p><%= user.name %></p>
    <% user.secrets.each do |secret| %>
      <p><%= secret.content %></p>
      <p><%= secret.likes.count %> likes</p>
      <%= simple_form_for secret, url: likes_path, method: "post" do |f| %>
      <%= f.input :secret_id, as: :hidden, input_html: {value: secret.id} %>
      <%= f.input :user_id, as: :hidden, input_html: {value: user.id} %>
      <%= f.button :submit, value: "Like" %>
      <% end if secret.likes.count == 0 %>
      <%= simple_form_for secret, url: like_path(secret.likes.last.id), method: "delete" do |f| %>
      <%= f.button :submit, value: "Unlike" %>
      <% end if secret.likes.count == 1 %>
      <% if current_user == secret.user%>
        <%= simple_form_for secret, :url => secret_path(secret.id), method: "delete" do |f| %>
          <%= f.button :submit, value:"Delete" %>
        <%end%>
      <% end %>
    <% end if user.secrets %>
<%end%>
